:root {
  /* ---------- CUSTOM PROPERTIES  ---------- */
  --clr-neutral-100: #FFF;
  --clr-neutral-200: #D5D4D8;
  --gradient-1: linear-gradient(135deg, #006A79, #008C7E, #35AB67);
  --gradient-2: linear-gradient(135deg, #35AB67, #008C7E, #006A79);
  --gap-sm: .5em;
  --gap-lg: 1.5em;

  font-family: 'Karla', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ---------- UTILITY CLASSES  ---------- */

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-gap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
}

/* ---------- TYPOGRAPHY  ---------- */

.title {
  font-size: clamp(1.25rem, 1rem + 1vw, 2rem);
  letter-spacing: -.02rem;
}

.project {
  font-size: clamp(0.8rem, 0.7333rem + 0.2667vw, 1rem);
  font-weight: 500;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

.btn-text {
  font-size: clamp(1rem, 0.8833rem + 0.4667vw, 1.35rem);
}

.title,
.btn-text {
  font-weight: 700;
}

input {
  font: inherit;
}

/* ---------- LAYOUT  ---------- */

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: var(--gradient-1);
  padding: 2em 1em;
}

.logo {
  width: 1.75em;
  aspect-ratio: 1;
}

main {
  width: 80%;
  max-width: 700px;
  margin-inline: auto;
}

form {
  padding: 3em 0;
}

.input-box {
  margin-bottom: var(--gap-lg);
}

.inputs,
.get-meme {
  border-radius: .25em;
}

.inputs {
  flex: 1 1 30%;
  padding: .5rem;
  border: none;
  outline: .1rem solid var(--clr-neutral-200);
  background-color: var(--clr-neutral-100);
}

.inputs:focus {
  outline: .1rem solid #006A79;
}

.get-meme {
  width: 100%;
  background: linear-gradient(135deg, #006A79, #008C7E, #35AB67);;
  transition-property: background;
  transition-delay: 5s;
  transition-duration: 10s;
  transition-timing-function: ease-in-out;
}

.get-meme:hover,
.get-meme:focus {
  background:  linear-gradient(135deg, #35AB67, #008C7E, #006A79);
}

.icon {
  width: 1.5em;
}
