:root {
  /* ---------- CUSTOM PROPERTIES  ---------- */
  --clr-neutral-100: #FFF;
  --clr-neutral-200: #D5D4D8;
  --gradient-1: linear-gradient(135deg, #006A79, #008C7E, #35AB67);
  --gradient-2: linear-gradient(135deg, #35AB67, #008C7E, #006A79);
  --gap-sm: .5em;
  --gap-lg: 1.5em;

  font-family: 'Karla', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ---------- UTILITY CLASSES  ---------- */

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
}

/* ---------- TYPOGRAPHY  ---------- */

.title {
  font-size: clamp(1.25rem, 1rem + 1vw, 2rem);
}

.project {
  font-size: clamp(0.8rem, 0.7333rem + 0.2667vw, 1rem);
}

.btn-text {
  font-size: clamp(1rem, 0.8833rem + 0.4667vw, 1.35rem);
}

.title,
.btn-text {
  font-weight: 700;
}

/* ---------- LAYOUT  ---------- */

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: var(--gradient-1);
}
